.select-style {
  border: 1px solid #018e96;
  border-radius: 3px;
  overflow: hidden;
  background: #0b4499;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 10px;
  color: #111;
}
.select-style:after {
  content: "\e252";
  font-family: 'Glyphicons Halflings';
  margin-right: 5px;
  font-size: 16px;
  position: absolute;
  right: 21px;
  top: calc(50% - 5px);
}
.select-style select {
  padding: 5px 8px;
  width: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  background: #fefefe;
}
.select-style select:focus {
  outline: none;
}
.relative {
  position: relative;
}
h1 {
  margin-top: 1px;
  margin-bottom: 0px;
  font-size: 22px;
  text-align: left;
}
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #019ca4;
}
.nav > li > a {
  background: #fefefe;
}
/* Provide sufficient contrast against white background */
a {
  color: #018e96;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}
button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}
body {
  /* Margin bottom by footer height */
  background: #fefefe;
  color: #111;
  overflow-x: hidden;
}
.content {
  margin-top: 115px;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
  margin-top: 12px;
}
.navbar {
  background: #019ca4;
  min-height: 105px;
  color: #fefefe;
  position: fixed;
}
.navbar .navbar-brand {
  max-width: 26%;
  height: 90px;
}
.navbar .navbar-brand img {
  width: 100%;
  float: left;
}
.navbar .logo-text {
  float: left;
  padding-left: 0px;
  padding-top: 15px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fefefe;
  width: 57%;
}
.navbar .navbar-toggle {
  margin-top: 12px;
  border: 1px solid #fefefe;
  margin-right: 15px;
  padding: 9px 8px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 3px;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #fefefe;
}
.navbar .search {
  float: left;
  width: 74%;
  padding-right: 15px;
  position: relative;
}
.navbar .search .close-btn {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 15px;
  display: none;
}
.navbar .search .close-btn.active {
  display: block;
}
.navbar .search .search-bar {
  background: #fefefe;
  height: 34px;
  float: left;
  margin-top: 3px;
  color: #111;
  border: 1px solid #018e96;
  outline: none;
  padding: 9px;
  font-size: 16px;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0px;
  background-image: url(../images/search_icon.png);
  background-repeat: no-repeat;
  background-position: 96% 5px;
  background-size: 21px;
}
.navbar .search .search-bar:focus {
  outline: none;
}
.navbar .search .search-bar.active {
  background-image: url(../images/close_icon.png);
}
.navbar .search .search-results {
  width: 100%;
  margin-top: 37px;
  position: absolute;
  left: -15px;
}
.navbar .search .search-results .search-country {
  text-align: left;
  background: #fff;
  margin-left: 15px;
  padding: 8px;
  border-bottom: #ccc 1px solid;
  color: #111;
}
.navbar .search .search-results .search-country:hover {
  background: #0b4499;
  color: #fefefe;
}
.country-title-bar {
  margin-bottom: 15px;
  margin-top: 5px;
}
.country-title-bar img {
  height: 25px;
}
.country-title-bar .country-name {
  padding-left: 0px;
  font-weight: 600;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  background: #019ca4;
  padding-bottom: 15px;
  color: #fefefe;
}
.footer a {
  color: #015357;
}
#map {
  width: 100%;
  height: 400px;
  background-color: grey;
  margin-top: 15px;
  margin-bottom: 105px;
}
.disabled {
  opacity: 0.2;
  pointer-events: none;
}
.disabled .icon {
  background: #fefefe !important;
  border: #111 1px solid;
}
.disabled .icon:before {
  content: "\e090";
  font-size: 100px;
  font-family: 'Glyphicons Halflings';
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 60px);
  color: #111;
}
.disabled .icon img {
  filter: invert(1);
  opacity: 0.3;
}
.disabled .icon .title {
  color: #111;
}
.icon {
  cursor: pointer;
  border: #e7e7e7 1px solid;
  overflow: hidden;
  /*border: 2px solid #000;
    -moz-box-shadow: inset 0 0 3px #000000;
    -webkit-box-shadow: inset 0 0 3px #000000;
    box-shadow: inset 0 0 3px #000000;*/
}
.icon:hover {
  text-decoration: none;
}
.icon img {
  padding-top: 10px;
  width: 80%;
  border-style: none;
  margin-left: 20%;
}
.icon .number {
  position: relative;
  height: 1em;
  font-size: 18px;
  color: #fefefe;
  font-weight: 600;
  margin-top: -20px;
  margin-bottom: 15px;
  /*&:before {
            font-family: 'Glyphicons Halflings';
            content: "\e182";
            margin-right: 5px;
            font-size: 16px;
        }*/
}
.icon .title {
  font-size: 14px;
  color: #fefefe;
  padding: 15px 15px 0px 15px;
  text-transform: uppercase;
  font-weight: 600;
}
.police-dept {
  padding-right: 7.5px;
  padding-bottom: 7.5px;
}
.police-dept .icon {
  border-top-left-radius: 0;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  background: #0b4499;
}
.ambulance-dept {
  padding-left: 7.5px;
  padding-bottom: 7.5px;
}
.ambulance-dept .icon {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 10px;
  background: #98800a;
}
.fire-dept {
  padding-right: 7.5px;
  padding-top: 7.5px;
}
.fire-dept .icon {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
  background: #990b0b;
}
.embassy-dept {
  padding-left: 7.5px;
  padding-top: 7.5px;
}
.embassy-dept .icon {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
  background: #7d0b99;
}
.flag-icon {
  position: absolute;
  top: calc(50% - 45px);
  left: calc(50% - 45px);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  border: 5px solid #fefefe;
  /*border: 8px solid @black;
    -moz-box-shadow: 0 0 3px #000000;
    -webkit-box-shadow: 0 0 3px #000000;
    box-shadow: 0 0 3px #000000;*/
  /*&:before {
        font-family: 'Glyphicons Halflings';
        content: "\e182";
        margin-right: 5px;
        font-size: 40px;
    }*/
}
.flag-icon img {
  width: 100%;
  height: 100%;
}
.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  -moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  box-shadow: inset 0 0 3px #000000;
  border-radius: 20px;
  top: 0;
  left: 0;
}
.embassy-information {
  margin-top: 50px;
  background: #019ca4;
  padding: 40px 15px 25px 15px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 40px;
  color: #fefefe;
}
.embassy-information > .row {
  margin-bottom: 15px;
}
.embassy-information a {
  color: #015357;
}
.embassy-information h1 {
  margin-bottom: 15px;
  font-size: 20px;
}
.embassy-information .embassy-icon {
  font-size: 25px;
}
.embassy-information .embassy-icon .glyphicon {
  vertical-align: top;
  margin-top: -2px;
}